body {
    background-image: url("../img/beatriz-perez-moya-XN4T2PVUUgk-unsplash.jpg");
    background-color: white;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no repeat scroll center top !important;
}

h1, h2, h5, p {
    font-family: 'Poppins', sans-serif;
}

#header {
    font-size: 3rem;
}

#page-container {
    position: relative;
    min-height: 100vh;
}
  
#search-container {
    margin-top: 150px;
    margin-right: 600px;
}

.input-group {
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
}

.card-list {
    max-width: 300px;
    margin-top: 100px;
    margin-left: 300px;
    padding-bottom: 8rem;
}
  
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    font-size: 12px;
    text-align: bottom;
    margin-left: 20px;
  }
